.button{
  text-align: center;
  border: 0;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: #3b74f2;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}